<p-toast position="top-right"></p-toast>
<div class="admin-page" *ngIf="order">
  <p-card header="Order details" subheader="You can edit order status here ">
    <p-fieldset legend="Order details" [toggleable]="true" styleClass="mb-4">
      <div class="grid">
        <div class="col-4">
          <h4>Order id</h4>
          <p>{{ order.id }}</p>
        </div>
        <div class="col-4">
          <h4>Date</h4>
          <p>{{ order.dateOrdered | date: 'short' }}</p>
        </div>
        <div class="col-4">
          <h4>Status</h4>
          <p-dropdown
            [options]="orderStatuses"
            optionLabel="name"
            optionValue="id"
            (onChange)="onStatusChange($event)"
            [(ngModel)]="selectedStatus"
          ></p-dropdown>
        </div>
        <div class="col-4">
          <h4>Total Price</h4>
          <p>{{ order.totalPrice | currency }}</p>
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Order items" [toggleable]="true" styleClass="mb-4">
      <div class="grid mb-4">
        <h4 class="col-2">Name</h4>
        <h4 class="col-2">Brand</h4>
        <h4 class="col-2">Category</h4>
        <h4 class="col-2">Price</h4>
        <h4 class="col-2">Quantity</h4>
        <h4 class="col-2">Sub Total</h4>
      </div>
      <div class="grid mb-5" *ngFor="let orderItem of order.orderItems">
        <div class="col-2">{{ orderItem.product?.name }}</div>
        <div class="col-2">{{ orderItem.product?.brand }}</div>
        <div class="col-2">{{ orderItem.product?.category?.name }}</div>
        <div class="col-2">{{ orderItem.product?.price }}</div>
        <div class="col-2">{{ orderItem.quantity }}</div>
        <div class="col-2">
          {{ orderItem.product?.price * orderItem?.quantity | currency }}
        </div>
      </div>
      <div
        class="grid"
        style="
          color: green;
          font-weight: bold;
          position: absolute;
          left: 70%;
          top: 130%;
        "
      >
        <div class="col-10">Total Price</div>
        <div class="col-2">
          {{ order.totalPrice | currency }}
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Order Address" [toggleable]="true" styleClass="mb-4">
      <div class="grid mb-5">
        <div class="col-4 p-text-bold">
          <h4>Order Address</h4>
          <p>
            {{ order.shippingAddress1 }}<br />
            {{ order.shippingAddress2 }}<br />
            {{ order.zip }} {{ order.city }}<br />
            {{ order.country }}<br />
          </p>
        </div>
        <div class="col-4 p-text-bold">
          <h4>Customer Info</h4>
          <p>
            {{ order.user?.name }}
          </p>
        </div>
        <div class="col-4 p-text-bold">
          <h4>Contact Info</h4>
          <p>
            {{ order.user.phone }}
          </p>
        </div>
      </div>
    </p-fieldset>
  </p-card>
</div>
